<% if @post.errors.any? %>
  <div class='well'>
    <h4>There were some errors:</h4>
    <ul>
      <% @post.errors.full_messages.each do |error| %>  
        <li>
          <%= error %>.
        </li>
      <% end%>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :desciption %>
  <%= f.text_area :description %>

  <br>

  <%= f.submit button %>

<% end %>
