<%= render 'shared/content_title', title: 'Add Category' %>

<% if @category.errors.any? %>
  <div class='alert alert-error'>
    <h4>There were some errors:</h4>
    <ul>
      <% @category.errors.full_messages.each do |error| %>  
        <li>
          <%= error %>.
        </li>
      <% end%>
    </ul>
  </div>
<% end %>

<%= form_for @category do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <br>
  
  <%= f.submit 'Add Category' %>
  
<% end %>